body {
  background-image: url('../images/RH2.jpeg');
  background-size: cover;
  background-position: center;
  color: black;
  margin: 0;
}

.playfair-display-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.image-container {
  display: flex;
  align-items: center;
  margin-bottom: 10vh;
  margin-left: 50px;
}

.image-container img {
  /* width: 50vw; */
  width: 40vw;
}

.project-card-content {
  display: flex;
  justify-content: space-between;
}

.project-card {
  /* margin: 1rem;
  margin-top: 10vh; */
  padding-top: 100px;
  padding-bottom: 1rem;
  padding-inline: 100px;

  height: 100vh;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.636);
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.project-card h4 {
  font-size: 30px;
  margin-top: 0;
  text-align: center;
}

/* Responsivité sur telephone ------------------------------------------------- */
@media (max-width: 480px) {
  .image-container {
    display: block;
    margin-bottom: 0;
    margin-left: auto;
  }

  .image-container img {
    width: 90vw;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .project-card-content {
    display: block;
  }
  
  .project-card {
    padding-inline: 1rem;
    height: auto;
  } 


}